@model IEnumerable<Sprint1Final.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>
    Customer table
</h2>
@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{

    <b>Search by : </b> @Html.RadioButton("option", "CustID")  <text> Customer ID</text>
    @Html.RadioButton("option", "CName") <text>Customer Name</text>  @Html.RadioButton("option", "CNum") <text>Contact Number</text>
    @Html.RadioButton("option", "em") <text>Email</text>
    @Html.TextBox("Search"); <input type="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostAdrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostAdrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
