@model PagedList.IPagedList<Sprint1Final.Models.Driver>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Driver Table</h2>

@using (Html.BeginForm("Index", "Drivers", FormMethod.Get))
{

    <b>Search by : </b>    @Html.RadioButton("option", "drID")  <text> Driver Number</text>
     @Html.RadioButton("option", "dname")  <text> Driver Name</text>
    @Html.RadioButton("option", "did") <text>ID Number</text>  @Html.RadioButton("option", "lic") <text>License Code</text>
    @Html.RadioButton("option", "cnum") <text>Contact Number</text> 
    @Html.TextBox("Search", ViewBag.CurrentFilter as string); <input type="submit" value="Search" />


   
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Driver Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            
        </th>
        <th>
            iD Number
        </th>
        <th>
            License Code
        </th>
        <th>
            @Html.ActionLink("Date of Employment", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Address
        </th>
        <th>
            Contact Number
        </th>
        <th>
           Next of Kin Number
        </th>
        <th></th>
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="3"> Records not found </td>
    </tr>
}
else
{

foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nokCNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DriverNo }) |
            @Html.ActionLink("Details", "Details", new { id = item.DriverNo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DriverNo })
        </td>
    </tr>
}}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
